
/*************************
* 検索エリア
*************************/
.search-area {
  padding-bottom: .5rem;

  .accordion {
    padding-bottom: .5rem;

    .accordion-title {
      position: relative;
      padding: .2rem .5rem 0 2.5rem;
      border-bottom: solid 2px var(--manager-main-color);
      display: flex;
      font-weight: bold;
      cursor: pointer;
      transition: .2s;
      overflow: hidden;
      z-index: 1;

      &::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Ccircle cx="11" cy="11" r="8"%3E%3C/circle%3E%3Cline x1="16" y1="16" x2="22" y2="22"%3E%3C/line%3E%3C/svg%3E');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--manager-hover-color);
        transform: translateX(-100%);
        transition: transform 0.2s ease-in-out;
        z-index: -1;
      }

      &:hover::after {
        transform: translateX(0);
      }

    }

    .accordion-content {
      padding: .25rem .5rem;

      .access-row {
        width: 600px;
        padding: .25rem 0;
        display: grid;
        border-bottom: solid 1px var(--manager-main-color);
        grid-template-columns: 130px 300px 150px;
      }
    }
  }
}


/*************************
* タブメニュー
*************************/
.tab-radio-btn  {
  display: none;
}

.tab-content {
  display: none;
}

input[type="radio"]:checked + label {
  background: var(--manager-hover-color);
  color: var(--manager-main-color);
}

.contents-area {
  /* tab1が選択されたときだけ表示 */
  &:has(#tab1:checked) #customer-list-table-area {
    display: block;
  }

  /* tab2が選択されたときだけ表示 */
  &:has(#tab2:checked) #customer-access-analysis-area {
    display: block;
  }

  /* tab3が選択されたときだけ表示 */
  &:has(#tab3:checked) #contents-access-analysis-area {
    display: block;
  }

}


/*************************
* 顧客分析
*************************/
// 顧客一覧表
.customer-list-tbl {
  .rotated-icon {
    margin: 0 auto;
    transform: rotate(45deg);
    cursor: pointer;
  }

  th:nth-child(1),
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5) {
    z-index: 100;
  }
}

.disabled-row {
  td {
    background: #ccc !important;
  }
}

// 顧客別アクセス分析表
.customers-access-analysis-table {
  th:nth-child(1),
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4)  {
    z-index: 10;
  }
}


.top {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: .25rem;

  .dt-paging-button {
    border: solid 1px #bbb !important;
  }
}




/*************************
* 項目表示設定
*************************/
#display-setting-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #111a;
  top: 0;
  left: 0;
  z-index: 500;

  & > .display-setting-area {
    position: relative;
    width: 500px;
    margin: 50px auto;
    padding: 2rem;
    background: #fff;

    & > #modal-close {
      position: absolute;
      width: 50px;
      height: 50px;
      background: black;
      color: white;
      font-family: fantasy;
      top: -25px;
      right: -25px;
      font-size: 3rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

