
.dashboard-contents {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    & > .element {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        width: calc((100% - 60px) / 4);
        padding: 1rem .25rem 1rem;
        color: var(--manager-main-color);
        font-weight: bold;
        border: solid 1px var(--manager-main-color);
        border-radius: .5rem;

        & > .title {
            position: absolute;
            top: -12px;
            left: 12px;
            font-size: .9rem;
            padding: 0 .25rem;
            background: white;
        }

        & > .element-value {
            text-align: center;
            align-items: end;
        }

        .count-font {
            line-height: 1;
        }
    }
}

.building-selected {
    width: 100%;
    padding: .5rem;
    border-bottom: solid 1px var(--blue-200);

    .building-name {
        padding: .25rem 1rem;
        background: var(--blue-50);
        border: solid 1px var(--blue-200);
        border-radius: .25rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
}

#building_select{
    position: absolute;
    display: none;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    background: #1118;

    & > div {
        width: 800px;
        margin: 100px auto;
        padding: 2rem;
        background: white;
    }
}

